<%- include('partials/header'); -%>
<div class="ui main container segment marginFromNav">
    <div class="ui huge header">
        New Blog
        <form class="ui form" action="/blogs" method="POST">
            <div class="field">
                <label>Title</label>
                <input type="text" placeholder="Title" name="blog[title]" required autocomplete="off">
            </div>
            <div class="field">
                <label>Image</label>
                <input type="text" placeholder="Image" name="blog[image]" required autocomplete="off">
            </div>
            <div>
                <label>Description</label>
                <textarea name="blog[body]" cols="30" rows="10" placeholder="Description" required></textarea>
            </div>
            <div class="field" style="margin-top: 2rem;display: flex;justify-content: center;">
                <input class="ui violet inverted button big" type="submit">
            </div>
        </form>
    </div>
</div>
<%- include('partials/footer'); -%>